{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <meta name="description" content="Aprender a programar desde cero, tutoriales de javascript, tutoriales python, aprender a programar gratis."/>
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="ZUZTECH">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>